*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none ;
    text-transform:capitalize ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.continer{
    min-height: 100vh;
    display: grid ;
    place-items: center;
    padding-bottom: 60px ;
    background:  url(https://source.unsplash.com/random/?city,night) no-repeat;
  
    background-size: cover;
    background-position: center;
   
}
.continer .content{
    text-align: center;
}
.continer .content h3{
    font-size: 40px;
    color: #fff;
    padding: 5px 0;
}
.continer .content p{
    font-size: 25px;
    color: #fff;
    padding: 5px 0;
}
.continer .content button{
    height: 50px;
    width: 200px;
    color: #333;
    background: #fff;
    font-size: 20px;
    margin-top: 10px ; 
}
